{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}
    <!--page content-->
    <br>
    <h1 class="container mt-3">About the Graduation Data</h1>
    
    <div class="container mt-3">
    <p>All the Data that will be used on this website comes from the Corgi Data sets! Specifically from the 
    <a href="https://think.cs.vt.edu/corgis/json/graduates/" target="_blank">Graduates Json file!</a>
    The Data in this sheet is from 1993 to 2015! Unfortunately, many majors were not available before 2010, 
    so their values have been recorded as 0 which may affect the averages shown in the bar charts.</p>
    
    <p>The statistics available recorded the demographics of people awarded degrees in chosen major during chosen year.
    For example, there was a total of 1295598 awarded a degree in biological science majors during the year 1993.I got 
	this information from reading the graduates json file!</p>
    
    <p>The employment status of the students with chosen majors are also recorded, including what kind of employer
	they have. The data is very in depth and detailed. The information recorded as 0 is confusing but easy to work around.</p>
    </div>

        
    
    
{% endblock %}
